<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Stackoverfloat</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/5b4025bff4.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
<div id="wrap">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-left" href="/questions"><img src="http://i.imgur.com/6BafgCN.png" style="width: 230px" alt="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- main -->
    <main id="site-main">
        <div class="container">
            <%- body %>
        </div>
    </main>
</div>

    <!-- footer -->
    <footer>
        Copyright &copy; 2016 Tevinstein
    </footer>
</body>

</html>
