<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <% if (errors.length > 0) { %>
             <div class="alert alert-danger">
                 <% for (error of errors) { %>
                     <%= error %><br>
                 <% } %>
             </div>
         <% } %>

        <form action="/questions/add" method="POST">

            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea name="content" rows="6" class="form-control"></textarea>
            </div>

            

            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Add Question</button>
            </div>

        </form>

    </div>
</div>
